:root {
    --primary-color: rgba(255, 0, 255, 0.33);
    --header-background-color: rgba(255, 226, 36, 1);
    --button-collor: rgba(0, 255, 0, 1);
    --text-primary-color: #cccccc;
    --text-secondary-color: #d6d6d6;
}

html {
    height: 100%;
    margin: 0;
}

body {
    color: var(--text-primary-color);
    background-color: black;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
    text-align: center;
    background-image: url("resources/asset_background_space_pixelart.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

canvas {
    image-rendering: optimizeSpeed;
    -webkit-interpolation-mode: nearest-neighbor;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@media all and (min-width: 551px) {
    .desktop-br {
        display: inline;
    }

    .mobile-br {
        display: none;
    }
}

@media all and (max-width: 550px) {
    .desktop-br {
        display: none;
    }

    .mobile-br {
        display: inline;
    }
}

:-webkit-full-screen #canvas {
    width: 100%;
    height: 100%;
}

:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.page-title-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-title {
    font-size: max(24px, 2.5vw);
    text-align: center;
    color: var(--text-primary-color);
}

.page-subtitle {
    font-size: max(12px, 1.5vw);
    text-align: center;
    color: var(--text-secondary-color);
}

.info-container {
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    width: 75%;
    max-width: 1024px;
    min-width: 375px;
    margin: 0 auto;
}

.info-header {
    text-align: center;
    font-size: max(12px, min(26px, 2.0vw));
    padding: 10px auto;
    color: var(--text-primary-color);
}

.info-header > img {
    width: 25%;
    margin: 0px;
}

.info-content {
    text-align: left;
    margin: auto min(10%, 120px);
    list-style-type: decimal;
}

.info-point {
    font-size: max(10px, min(20px, 1.5vw));
    margin: 20px auto;
    color: var(--text-primary-color);
}

.info-rules {
    font-size: max(10px, min(18px, 1.0vw));
    padding: 30px auto;
    color: var(--text-primary-color);
}

.info-container-play-btn {
    width: 40%;
    margin: 45px;
    padding: 30px;
    background-color: var(--button-collor);
    font-size: max(12px, min(26px, 2.0vw));
    color: var(--primary-color);
}

.game-container {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.game-canvas {
    display: inline-block;
    margin: 0 auto;
    padding: 50px;
    background-color: #000000;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 50px 10px var(--primary-color);
    -moz-box-shadow: 0px 0px 50px 10px var(--primary-color);
    box-shadow: 0px 0px 50px 10px var(--primary-color);
}

.header-title {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1vw;
    text-align: center;
    color: #000000;
}

.header-title-container {
    margin: 30px auto;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-content {
    width: min(420px, 50%);
    display: inline-block;
    margin: 0 auto;
    background-color: #fff478;
    -webkit-box-shadow: inset 0px 0px 50px 10px var(--header-background-color);
    -moz-box-shadow: inset 0px 0px 50px 10px var(--header-background-color);
    box-shadow: inset 0px 0px 50px 10px var(--header-background-color);
}

.wrapper-post-content {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.post-content {
    width: 520px;
    display: inline-block;
    margin: 0 auto;
}

.invisible {
    display: none;
}
