body {
    width: 100%;
    height: 100%;
    text-align: center;
}

canvas {
    width: 100%;
    height: 100%;
}

.audiojs audio {
    position: absolute;
    left: -1px;
}

.audiojs {
    position: absolute;
    bottom: 0;
    margin-left: 40vw;
    width: 20vw;
    height: 5vh;
    background: #000000;
    overflow: hidden;
    font-family: monospace;
    font-size: 12px;
}

.audiojs .play-pause {
    height: 100%;
    width: 100%;
    margin: 0px;
    float: left;
    overflow: hidden;
    border: 1px solid #0f0;
}

.audiojs p {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    cursor: pointer;
    color: #0f0;
    background-color: #000000;
}

.audiojs .play {
    display: block;
}

.audiojs .scrubber {
    display: none;
}

.audiojs .time {
    display: none;
}

.audiojs .play {
}

.audiojs .loading {
}

.audiojs .error {
}

.audiojs .pause {
}

.playing .play, .playing .loading, .playing .error {
    display: none;
}

.playing .pause {
    display: block;
}

.loading .play, .loading .pause, .loading .error {
    display: none;
}

.loading .loading {
    display: block;
}

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading {
    display: none;
}

.error .error {
    display: block;
}

.error .play-pause p {
    cursor: auto;
}

.error .error-message {
    display: block;
}


